@use "../styles/utils/Vars.module.scss" as *;
@use "../styles/utils/Mixins.module.scss" as *;

@font-face {
    font-family: "epilogue-Regular";
    src: url("../public/fonts/Epilogue-VariableFont_wght.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "epilogue-medium";
    src: url("../public/fonts/Epilogue-VariableFont_wght.woff2") format("woff2");
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "epilogue-bold";
    src: url("../public/fonts/Epilogue-VariableFont_wght.woff2") format("woff2");
    font-weight: 700;
    font-display: swap;
}

@for $i from 1 through 6 {
    h#{$i},
    .Heading__#{$i} {
        font-size: 8vmin - $i;
        font-family: $font-Bold;
    }
}

// @media screen and(min-width:768px) {
//     @for $i from 1 through 6 {
//         h#{$i},
//         .Heading__#{$i} {
//             font-size: 7.5vmin - $i;
//             font-family: $font-Bold;
//         }
//     }
// }

// @media screen and(min-width:1280px) {
//     @for $i from 1 through 6 {
//         h#{$i},
//         .Heading__#{$i} {
//             font-size: 7vmin - $i;
//             font-family: $font-Bold;
//         }
//     }
// }
